:root {
  --bg-button: #f0f0f0;
  --border-buttton: solid 1px #888;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-buttton);
  border-bottom: var(--border-buttton);
  outline: none;
}
